.catalog {
  display: grid;
  grid-template-columns: repeat(4, $productWidth);
  gap: $productRowsGap $productGap;
  width: catalogWidth(4);
  justify-items: center;
  margin: 50px auto ;

  @media (max-width: catalogWidth(4) - 1) {
    width: catalogWidth(3);
    grid-template-columns: repeat(3, $productWidth);
  }

  @media (max-width: catalogWidth(3) - 1) {
    width: catalogWidth(2);
    grid-template-columns: repeat(2, $productWidth);
  }
}
