.nav {
  text-align: right;
  padding-right: $headerSidePadding;

  &__list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 0 $nav-spacing;
    list-style: none;
    flex-shrink: 0;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: $header-height/3 0;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color $animDuration;

  }

  &__link--is-active {
    color: $main-color-2;

    &::before {
      background-color: $main-color-2;
      content: "";
      position: absolute;
      height: 4px;
      width: 100%;
      border-radius: 4px;
      bottom: 0;
    }
  }

  &__link:hover {
    color: $main-color-2;
  }
}
